.App 
{
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

.editor-container 
{
	text-align: left;
	width: 80%;
	margin: 20px auto;
}

.CodeMirror 
{
	border: 1px solid #ddd;
	font-family: 'Fira Code', monospace;
	font-size: 16px;
}

.run-button 
{
	border: none;
	padding: 10px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 5px;
  }
  
  .run-button:hover 
  {
	background-color: #45A049;
  }
  